@model IntelART.OnlineLoans.CustomerModuleWebApp.Controllers.Authentication.VerificationModel

<div id="register" class="tab-pane fade@(Model.IsActive ? " in active":"")">
    <div class="login-block">
        <h1>Գրանցում</h1>
        <form asp-action="VerifyPhone">
            <div class="loginreg-content form-group">
                <div class="reg-info">Խնդրում ենք մուտքագրել Ձեր բջջային հեռախոսին ուղարկված գաղտնաբառը։</div>
                <input type="text" class="form-control" asp-for="VerificationCode" placeholder="XXXX" maxlength="4" id="registerAuthenticationCode">
            </div>
            <input type="hidden" asp-for="RegistrationProcessId" />
            <div class="login-footer">
                <button type="submit" class="btn btn-success">Հաստատել</button>
                <button type="button" class="btn btn-default" id="resendCodeButton">Կրկին ուղարկել</button>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>


<script>
    $("#resendCodeButton").click(function () {
        $(".auth-invalid").hide();
        var registrationProcessID = $('#RegistrationProcessId')[0].value;
        $.post({
            url: "ResendVerificationCode?processID=" + registrationProcessID,
            data: null,
            success: function () {
                $("#registerAuthenticationCode")[0].value = "";
            },
        });
    });
</script>