@model IntelART.OnlineLoans.CustomerModuleWebApp.Controllers.Authentication.PasswordResetModel

<div style="position:absolute; top:0px; bottom:0px; width:100%; background:#F1F1F1; z-index:0;">
    <div class="container userprofile login-reg">
        @if (ViewContext.ModelState.IsValid == false)
        {
        <div class="alert alert-danger">
            <div asp-validation-summary="All" class="danger"></div>
        </div>
        }
        <div class="login-body">
            <div class="tab-content">
                <div id="login">
                    <div class="login-block">
                        <div class="loginreg-content">
                            <form asp-action="PasswordReset">
                                <div class="form-group">
                                    Խնդրում ենք մուտքագրել Ձեր բջջային հեռախոսին ուղարկված գաղտնաբառը։
                                    <input type="text" class="form-control" asp-for="VerificationCode" maxlength="4" id="registerAuthenticationCode">
                                </div>
                                <div class="form-group" data-toggle="tooltip" title="Առնվազն 8 նիշ՝ լատինական մեծատառ և փոքրատառ, թվանշան">
                                    <label for="Password"  class="notify">Նոր գաղտնաբառ</label>
                                    <input type="password" class="form-control" asp-for="Password">
                                </div>
                                <div class="form-group">
                                    <label for="ConfirmPassword">Կրկնել նոր գաղտնաբառը</label>
                                    <input type="password" class="form-control" asp-for="ConfirmPassword">
                                </div>
                                <input type="hidden" asp-for="RegistrationProcessId" />
                                <input type="hidden" asp-for="Phone" />
                                <div class="login-footer">
                                    <a asp-action="Login">Վերադառնալ</a>
                                    <button type="submit" class="btn btn-success">Հաստատել</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
                </div>
            </div>
</div>