<div id="registered" class="tab-pane">
    <div class="login-block">
        <h1>Դուք բարեհաջող գրանցվեցիք համակարգում</h1>
        <form  asp-controller="Account" asp-action="login" method="get">
            <div class="login-footer">
                <button type="submit" class="btn btn-success">Մուտք</button>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>