@model CreatePasswordModel


<div class="loginblock">
    <div class="logo"></div>
    <h4>Ստեղծել նոր գաղտնաբառ</h4>
    @*<form asp-route="Login" onsubmit="return validateForm(this);">*@
    <form asp-route="CreatePassword">
        <input type="hidden" asp-for="ReturnUrl" />
        <input type="hidden" asp-for="Username" />
        <input type="hidden" asp-for="PasswordChangeRequestToken" />
        @Html.Partial("_ValidationSummary")
        <div class="form-group">
            <label>Օգտանուն</label>
            <input type="text" class="form-control" value="@Model.Username" disabled="true"/>
        </div>
        <div class="form-group">
            <label for="username">Գաղտնաբառ</label>
            <input type="password" req="true" class="form-control" id="pass" asp-for="NewPassword" autofocus>
        </div>
        <div class="form-group">
            <label for="pwd">Հաստատել գաղտնաբառը</label>
            <input type="password" req="true" match="#pass" class="form-control" id="rePass" asp-for="ConfirmNewPassword" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-default">Հաստատել</button>
    </form>
</div>
