<div class="modal bmodal">
    <div class="bmodal-content">
        <div class="bmodal-header">
            <a href="#" class="close-bmodal"
               data-bind="click: function () {modal.close()}">&times;</a>
            <h2>Պայմաններ</h2>
        </div>
        <div class="bmodal-body">
            <p>Ուղարկելով սույն դիմում – հայտը (այսուհետ` Հայտ) հավաստում եմ, որ.</p>
            <p>1. ծանոթացել եմ իմ կողմից պատվիրված քարտի (այսուհետ` Քարտ) տրամադրման և օգտագործման
                կանոններին, “Կոնվերս
                Բանկ” ՓԲԸ-ի (այսուհետ՝ Բանկ) “Վճարային քարտի տրամադրման և օգտագործման” պայմանագրի
                տիպային ձևին (այսուհետ՝
                Պայմանագիր) և Քարտի տրամադրման և սպասարկման սակագներին, համաձայն եմ դրանց հետ և
                անվերապահորեն
                պարտավորվում եմ կատարել դրանցով ամրագրված պահանջները,</p>
            <p>2. Հայտում իմ կողմից լրացված բոլոր տվյալներն իրական են, հավաստի և վավեր, հանդիսանում
                եմ ՀՀ ռեզիդենտ, դատարանի
                կողմից զրկված չեմ բանկում հաշիվ բացելու իրավունքից:</p>
            <p>3. ինձ համար հասկանալի է, որ.</p>
            <p>3.1. Հայտն ուղարկելն ունի Բանկի հետ Պայմանագիր կնքելու նախնական պայմանագրի ուժ` ՀՀ
                Քաղաքացիական օրենսգրքից
                բխող իր բոլոր հետևանքներով հանդերձ,</p>
            <p>3.2. Հայտի հիման վրա Բանկում կպատրաստվի Քարտը և իմ անունով կբացվի քարտային հաշիվ, իսկ
                Քարտն ինձ կտրամադրվի
                ու քարտային հաշիվը կակտիվանա և Քարտի միջոցով գործարքներ կկատարեմ բացառապես Բանկի հետ
                Պայմանագիրը կնքելու
                դեպքում,</p>
            <p>3.3. Ինտերնետով վճարային քարտեր պատվիրելուց վարկային սահմանաչափ չի տրամադրվում: Այդ
                նպատակով պետք է այցելեմ
                Բանկ:</p>
            <p>3.4. Տեղեկացված եմ, որ ՀՀ օրենսդրությամբ սահմանված դեպքերում և կարգով իմ
                բանկային/քարտային հաշվով գործարքների
                կատարումը սահմանափակված կամ դադարեցված լինելու, ինչպես նաև դրանցում առկա դրամական
                միջոցներն արգելադրված
                լինելու դեպքում Բանկը կարող է համապատասխանաբար ամբողջությամբ կամ մասնակի մերժել իմ
                կողմից գործարքների
                կատարումը:</p>
            <p>3.5. Պարտավորվում եմ քարտը ստանալ Հայտն ուղարկելու օրվանից 30 /երեսուն/ օրվա
                ընթացքում` հետևյալ
                ճանապարհով`հայտի համապատասխան սյունակում իմ կողմից նշված Բանկի համապատասխան
                մասնաճյուղի/գլխավոր
                գրասենյակի տարածքում՝ առձեռն:</p>
            <p>4. ես պատասխանատվություն եմ կրում.</p>
            <p>4.1. Հայտում լրացված տվյալների/տեղեկությունների ոչ հավաստի և ոչ ամբողջական լինելու
                համար,</p>
            <p>4.2.Քարտի սպասարկման վճարը ժամանակին չվճարելու համար,</p>
            <p>4.3. Սույն հայտում նշված ժամկետում և վայրում Քարտը չստանալու և/կամ Պայմանագիրը
                չստորագրելու համար`
                պարտավորվելով հատուցել դրա հետևանքով Բանկի կրած ծախսերն ամբողջ ծավալով: Նշված
                դեպքում` դադարում է Քարտը Ձեզ
                հանձնելու Բանկի պարտավորությունը:</p>
            <p>5. Քարտերի մանրամասներին ծանոթացեք այստեղ՝ <a
                   href="https://www.conversebank.am/hy/cards/"
                   target="_blank">https://www.conversebank.am/hy/cards/</a>
            </p>
            <p>6. Հայտը լրացված է իմ կողմից` սեփական նախաձեռնությամբ, առանց որևէ կողմնակի
                ազդեցության: Լիովին գիտակցում եմ իմ
                գործողությունների դերն ու նշանակությունը, գործունակության մեջ սահմանափակված չեմ:
                Ստորև բերված ՈՒՂԱՐԿԵԼ կոճակին սեղմելուց հետո Ձեզ համար պարտադիր ուժ կստանան
                վերոնշյալ բոլոր
                պարտավորություններ և պատասխանատվություն նախատեսող դրույթները:
                Վերոնշյալ պայմաններին համաձայն լինելու դեպքում կատարեք նշում ստորև բերված վանդակում
                և սեղմեք ՈՒՂԱՐԿԵԼ
                կոճակին:</p>
        </div>
        <div class="bmodal-footer"></div>
    </div>
</div>
