<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ScoringDB" connectionString="Data Source=(local);Initial Catalog=CONVERSE_LOAN_SCORING;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--add name="ScoringDB" connectionString="Data Source=den1.mssql4.gear.host;Initial Catalog=conversebank;Persist Security Info=True;User=conversebank;Password=Ur3Csh?!x4iq" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
