<div class="tab-content app-content">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h2>Փոխել գաղտնաբառը</h2>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <label>Մուտքագրեք հին գաղտնաբառը</label>
                <input type="password" data-bind="value: oldPassword,
                    validationError: {value: validationErrors, propertyName: 'oldPassword'}" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group" data-toggle="tooltip" title="Առնվազն 8 նիշ՝ լատինական մեծատառ և փոքրատառ, թվանշան">
                <label  class="notify">Մուտքագրեք նոր գաղտնաբառը</label>
                <input type="password" data-bind="value: newPassword,
                    validationError: {value: validationErrors, propertyName: 'newPassword'}" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <label>Կրկնեք նոր գաղտնաբառը</label>
                <input type="password" data-bind="value: newPassword2,
                    validationError: {value: validationErrors, propertyName: 'newPassword2'}" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 actions">
            <button type="button" data-bind="click: function(){$root.selectDefaultView();}" class="btn btn-default">Չեղարկել</button>
            <button type="button" data-bind="click: save" class="btn btn-success">Հիշել</button>
        </div>
    </div>
</div>