<div class="modal fade" role="dialog" aria-labelledby="cancelLoanModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" >&#x274C;</button>
                <h4 class="modal-title" data-bind="text: title"></h4>
            </div>
            <div class="modal-body">
                <p data-bind="css: messageClass">
                    <span data-bind="html: message"></span>
                </p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bind="visible:visibleFirstButton" >Վերադառնալ գլխավոր էջ</button>
                <button type="button" class="btn btn-warning" data-bind="click: confirm, enable: isComplete, text: confirmButtonText, visible: visibleButton" ></button>
            </div>
        </div>
    </div>
</div>