<footer class="site-footer">
    <div class="container">
        <div class="site-footer__row row no-gutters justify-content-between align-items-center">
            <ul class="contacts">
                <li data-bind="text: address"></li>
                <li>
                    Հեռախոս` <a href="" data-bind="text: phone"></a>
                </li>
                <li data-bind="">
                    Էլ. հասցե` <a href="" data-bind="text: email"></a>
                </li>
            </ul>
            <ul class="contact-social">
                <li>
                    <a href="" href="">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="" href="">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="" href="">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
