<div style="position:absolute; top:0px; bottom:0px; width:100%; background:#F1F1F1; z-index:0;">
    <div class="container userprofile login-reg">
        <h4>
            Unsupported web browser. Please use Chrome, Firefox, Opera, Edge or Internet Explorer 11.
        </h4>
    </div>
</div>
