<html>
    <head>
        <style>
            @media print{
                .non-breakable{
                    page-break-inside: avoid;
                    page-break-before: avoid;
                }
                h2 {
                    page-break-after: avoid;
                }
            }
            body {
                font-size: 8pt;
                counter-reset: l1counter;
            }
            hr {
                border: 1px solid #888888;
                border-bottom: 0px;
            }
            p {
                text-align: justify;
            }
            .bold {
                font-weight: bold;
            }
            .italic {
                font-style: italic;
            }
            div.appendix {
                margin-left: auto;
                margin-right: 0px;
                width: 30%
            }
            .level1 ~ div.section-content, .section h2 ~ div.section-content {
                padding-left: 15px;
                counter-reset: l2counter;
            }
            .level2 ~ div.section-content, .section h3 ~ div.section-content {
                padding-left: 25px;
                counter-reset: l3counter;
            }
            .level3 ~ div.section-content, .section h4 ~ div.section-content {
                padding-left: 35px;
                counter-reset: l4counter;
            }
            .level4 ~ div.section-content, .section h4 ~ div.section-content {
                padding-left: 45px;
            }
            .section h2::before, .level1::before {
                content: counter(l1counter) ".";
                counter-increment: l1counter;
                width: 15px;
                display: inline-block;
            }
            .section h3::before, .level2::before {
                content: counter(l1counter) "." counter(l2counter) ".";
                counter-increment: l2counter;
                width: 25px;
                display: inline-block;
            }
            .section h4::before, .level3::before {
                content: counter(l1counter) "." counter(l2counter) "." counter(l3counter) ".";
                counter-increment: l3counter;
                width: 35px;
                display: inline-block;
            }
            .section h4::before, .level4::before {
                content: counter(l1counter) "." counter(l2counter) "." counter(l3counter) "." counter(l4counter) ".";
                counter-increment: l4counter;
                width: 45px;
                display: inline-block;
            }
            h1{
                font-size: 11pt;
                text-align: center;
                text-transform: uppercase;
            }
                h1 .note {
                    font-size: 10pt;
                    text-transform: none;
                    font-weight: normal;
                }
            .note {
                font-size: 7pt;
            }
            .border-bottom {
                border-bottom: solid 1px black;
            }
            .border-right {
                border-right: solid 1px black;
            }
            .center {
                text-align: center;
            }
            h2 {
                font-size: 10pt;
            }
            h3 {
                font-size: 8pt;
            }

            .field-label {
                font-weight: bold;
                padding: 3px;
                border-right: 1px solid grey;
            }
            .field-note {
                font-weight: normal;
                padding: 1px 3px 8px 3px;
                font-size: 8pt;
            }
            .field-value {
                padding: 3px;
                /*border-right: 1px solid grey;*/
                overflow-wrap: break-word;
                word-break: break-all;
            }
            .bottom-align {
                vertical-align: bottom;
            }
            .signature-box .signature-text {
                vertical-align: bottom;
                font-size: 8pt;
                border-top: 1px solid black;
                margin-left: 5px;
                margin-right: 5px;
                padding-top: 5px;
            }
            
            div.table {
                display: table;
                width: 100%;
            }
            div.table-row {
                /*display: table-row;*/
                border: solid black;
                border-width: 1px 1px 0px 1px;
                width: 100%;
            }
            div.table-cell-10 {
                display: table-cell;
                width: 10%;
                border: solid black;
                border-width: 0px 0px 1px 1px;
            }
            div.table-cell-18 {
                display: table-cell;
                width: 18%;
                border: solid black;
                border-width: 0px 0px 1px 1px;
            }
            div.header-cell {
                border-top-width: 1px;
                font-weight: bold;
                text-align: center;
            }
            div.subheader-cell {
                font-weight: bold;
                text-align:center;
            }
            
            div.table-cell-25 {
                display: table-cell;
                width: 25%;
            }
            div.table-cell-50 {
                display: table-cell;
                width: 50%;
            }
            div.table-cell-75 {
                display: table-cell;
                width: 75%;
            }
            div.table-cell {
                display: table-cell;
                width: auto;
            }

            #title {
                margin-left: auto;
                margin-right: auto;
            }
            #document-header-info {
                position: absolute;
                left: 0px;
                width: 100%;
            }
            #document-header-info #date {
                font-size: 8pt;
                margin-right: 10px;
                float: right;
            }
            #document-header-info .note {
                font-size: 6pt;
            }
        </style>
    </head>
    <body>
        <h1 id="title">
            ՍՊԱՌՈՂԱԿԱՆ ՎԱՐԿԱՎՈՐՄԱՆ ՊԱՅՄԱՆԱԳԻՐ ԹԻՎ ______
        </h1>
        <div style="height: 15px;">
            <div style="float: left">
                ք․ Երևան
            </div>
            <div style="float: right">
                <div id="date">{DATE}</div>
            </div>
        </div>
        <div>
            <p>
                <strong>ԲԱՆԿ</strong>` "Կոնվերս Բանկ" ՓԲԸ (գրանցված ՀՀ կենտրոնական բանկի խորհրդի 20.12.1993թ. որոշմամբ, գրանցման համար 57, վկայական թիվ 0164, հասցե` ք.Երևան, Հանրապետության Հրապարակ, Վազգեն Սարգսյան փողոց 26/1), ի դեմս Գլխավոր գործադիր տնօրեն Արթուր Հակոբյանի, որը գործում է կանոնադրության հիման վրա
            </p>
            <p>
                <strong>ՎԱՐԿԱՌՈՒ</strong>` {LAST_NAME_AM} {FIRST_NAME_AM} {PATRONYMIC_NAME_AM}/անձը հաստ.փաստ.`
                {IDENTIFICATION_DOCUMENT_NUMBER}, տրված` {IDENTIFICATION_DOCUMENT_ISSUED_ON}-ին,
                {IDENTIFICATION_DOCUMENT_ISSUED_BY}-ի կողմից, հասցե՝ {REGISTRATION_ADDRESS}/, միասին անվանվելով "Կողմեր", ղեկավարվելով ՀՀ օրենսդրությամբ, կնքեցին սույն պայմանագիրը /այսուհետ` Պայմանագիր/ հետևյալի մասին.
            </p>
        </div>

        <div class="section">
            <h2>Պայմանագրի առարկան</h2>
            <div class="section-content">
                <p class="level2">Վարկը տրամադրվում է հետևյալ պայմաններով.</p>
                <div class="section-content">
                    <div class="table">
                        <div class="table-row">
                            <div class="table-cell field-label level3">
                                Վարկի չափ
                            </div>
                            <div class="table-cell field-value">
                                {APPROVED_AMOUNT} /{APPROVED_AMOUNT_TEXT}/ {CURRENCY_NAME}
                            </div>
                        </div>

                        <div class="table-row">
                            <div class="table-cell field-label level3">
                                Տարեկան անվանական տոկոսադրույք
                            </div>
                            <div class="table-cell field-value">
                                {APPROVED_LOAN_INTEREST} /տոկոս/
                            </div>
                        </div>

                        <div class="table-row">
                            <div class="table-cell field-label level3">
                                Տարեկան փաստացի տոկոսադրույք*
                            </div>
                            <div class="table-cell field-value">
                                {APPROVED_LOAN_ACTUAL_INTEREST} /տոկոս/
                            </div>
                        </div>


                        <div class="table-row">
                            <div class="table-cell field-label level3">
                                Վարկի ժամկետ
                            </div>
                            <div class="table-cell field-value">
                                /{LOAN_DURATION}/, որն ավարտվում է {APPROVED_REPAYMENT_PERIOD}-ին
                            </div>
                        </div>

                        <div class="table-row">
                            <div class="table-cell field-label level3">
                                Վարկի գումարի տրամադրման ձևը
                            </div>
                            <div class="table-cell field-value">
                                Միանվագ
                            </div>
                        </div>

                        <div class="table-row">
                            <div class="table-cell field-label level3">
                                Վարկը Վարկառուին տրամադրելու ժամկետ
                            </div>
                            <div class="table-cell field-value">
                                Պայմանագրի կնքման օրվանից առավելագույնը 5/հինգ/ օրացուցային օրվա ընթացքում
                            </div>
                        </div>

                        <div class="table-row">
                            <div class="table-cell field-label level3">
                                Վարկի օգտագործման նպատակ
                            </div>
                            <div class="table-cell field-value">
                              Սպառողական</div>
                        </div>

                        <div class="table-row">
                            <div class="table-cell field-label level3">
                                Վարկի գումարի մարման կարգը
                            </div>
                            <div class="table-cell field-value">
                                Անուիտետային /հավասարաչափ ամսական մարում/
                            </div>
                        </div>

                        <div class="table-row">
                            <div class="table-cell field-label level3">
                                Վարկի և տոկոսների մարման ժամկետ
                            </div>
                            <div class="table-cell field-value">
                                Պայմանագրի անբաժանելի մասը հանդիսացող Հավելված 1-ով սահմանված մարման ժամանակացույցին համապատասխան:<br/>Ընդ որում` վերջնական ժամանակացույցը կազմվում է Վարկը Վարկառուին տրամադրելու օրը:
                            </div>
                        </div>

                        <div class="table-row">
                            <div class="table-cell field-label level3">
                                Պայմանագրի Հավելված 1-ով սահմանված ժամանակացույցի խախտման դեպքում ժամկետանց գումարների նկատմամբ կիրառվում են հետևյալ տուժանքները.
                            </div>
                        </div>

                        <div class="table-row">
                            <div class="table-cell field-label level4">
                                Տույժ Վարկի և/կամ տոկոսի մարման կետանցի դեպքում
                            </div>
                            <div class="table-cell field-value">
                                Ժամկետանց Վարկի և տոկոսագումարի 0.13%  չափով` կետանցի յուրաքանչյուր օրվա համար
                            </div>
                        </div>
	      <div class="table-row">
                            <div class="table-cell field-label level3">
                                Պայմանագրով նախատեսված և Պայմանագրի պայմանների փոփոխման մասին տեղեկատվությունը Վարկառուին տրամադրվում է
                            </div>
                            <div class="table-cell field-value">
                                Վարկային հայտում Վարկառուի կողմից նշված եղանակով**
                            </div>
                        </div>                  
      
	       <div class="table-row">
                            <div class="table-cell field-label level3">
                                Մտածելու ժամանակ`
                            </div>
                            <div class="table-cell field-value">
                                Պայմանագրի կնքման օրվանից 7 /յոթ/ աշխատանքային օր
                            </div>
                        </div>
                    </div>
                </div>
				<p class="level2">Վարկը տրամադրվում է առցանց համակարգի միջոցով (այսուհետ՝ «Համակարգ»)</p>
				<p class="level2">Պայմանագիրը ստորագրելով Վարկառուն հավաստում է, որ ծանոթացել է առցանց վարկերի տրամադրման կանոններին և ուղեցույցին (այսուհետ՝ «Կանոններ») և պարտավորվում է հստակորեն հետևել Կանոններով սահմանված պահանջներին:</p>
            </div>
        </div>
        <div>
        </div>
        <div>
* Տարեկան փաստացի տոկոսադրույքը հաշվարկված է Պայմանագրի կնքման օրվա դրությամբ, կրում է կողմնորոշող բնույթ և կարող է Պայմանագրի գործողության ընթացքում փոփոխվել` կապված Վարկառուի կողմից Վարկը Պայմանագրով սահմանված ժամկետներից շուտ մարելու, ինչպես նաև դրա հաշվարկում ներառված տարրերի փոփոխությունից:
        </div>
        <div>
** Փոստային կապի տարբերակի ընտրության դեպքում՝ ՀՀ տարածքից դուրս առաքումների դիմաց գանձվում է գումար Բանկի սակագներով սահմանված չափով
        </div>
        <div class="section">
            <h2>Վարկի տրամադրման այլ պայմանները, հաշվարկները և վճարումների կատարման կարգը </h2>
            <div class="section-content">
                <p class="level2">
                    Վարկը Վարկառուին անկանխիկ եղանակով տրամադրման դեպքում Վարկը փոխանցվում է Վարկառուի՝ Վարկային
                    հայտում նշված հաշվին: Վարկը համարվում է տրամադրված Վարկառուի՝ Պայմանագրում նշված հաշվին փոխանցելու պահից,
                    որպիսի փաստի առկայությունը ապացուցելու համար Կողմերը հիմք են ընդունում հաշվի քաղվածքը: Վարկը Վարկառուին
                    կանխիկ եղանակով տրամադրելու դեպքում Վարկը համարվում է տրամադրված այն Վարկառուին՝ Բանկի մասնաճյուղում
                    կանխիկ տրամադրելու պահից, որպիսի փաստի առկայությունը ապացուցելու համար Կողմերը հիմք են ընդունում ելքի
                    անդորրագիրը:
                </p>
                <p class="level2">
                    Վարկառուն հավաստում է, որ Պայմանագիրը կնքելիս ծանոթացել է Բանկում գործող Բանկային հաշիվների սպասարկման,
                    ինչպես նաև վարկավորման կարգով սահմանված <span style="font-weight:bold;">պայմաններին ու սակագներին, այդ թվում՝ կանխիկացման վճարներին, որոնք
                    հրապարակված են Բանկի ինտերնետային կայքում (www.conversebank.am)</span>
                    և հասանելի են Բանկի տարածքում, և որոնք կարող են
                    փոփոխվել Բանկի կողմից Պայմանագրի գործողության ընթացքում, և Վարկառուն դրանց` Բանկի կողմից հետագա կիրառման
                    վերաբերյալ որևէ պահանջ չի կարող ներկայացնել Բանկին:
                </p>
                <p class="level2">
                    Վարկի, Տոկոսների, Պայմանագրով նախատեսված մյուս վճարների մասով տուժանքների վճարումները կատարվում են
                    Վարկառուի կողմից կանխիկ կամ անկանխիկ եղանակով
                </p>
                <p class="level2">
                    Տոկոսները հաշվարկվում են օրական կտրվածքով` Վարկի նվազող մնացորդի նկատմամբ` հիմք ընդունելով տարին
                    օրացուցային, բաժանարարը՝ 365 օր: Տոկոսների հաշվարկը սկսվում է Վարկի գումարը Վարկառուի` Բանկում բացված հաշվին
                    փաստացի մուտքագրելու օրվանից:
                </p>
                <p class="level2">
                    Վարկառուի կողմից սույն պայմանագրով ստանձնած պարտավորությունները չկատարելու կամ ոչ պատշաճ կատարելու,
                    այդ թվում՝ Վարկի ոչ նպատակային օգտագործման դեպքում, Բանկն իրավունք ունի փոփոխել Վարկի պայմանները և/կամ
                    միակողմանիորեն բարձրացնելու Վարկի օգտագործման համար նախատեսված տոկոսադրույքը, սակայն ոչ ավելի, քան ՀՀ
                    Կենտրոնական բանկի կողմից այդ օրվա դրությամբ սահմանված բանկային տոկոսադրույքի կրկնապատիկը՝ այդ
                    փոփոխությունների մասին գրավոր ծանուցելով Վարկառուին:
                </p>
                <p>
                    Վարկի՝ վերոնշյալ պայմանների փոփոխության մասին Վարկառուին համապատասխան գրավոր ծանուցումը ներկայացնելուց
                    հետո այդ պայմանները համարվում են փոփոխված ծանուցման մեջ նշված օրվանից, եթե Կողմերի համաձայնությամբ այլ ժամկետ
                    սահմանված չէ:
                </p>
                <p>
                    Սույնով Կողմերը համաձայնում են առ այն, որ եթե Պայմանագրով սահմանված Վարկի տոկոսի մեծությունը կախվածության մեջ է դրված ԿԲՀՏ-ի փոփոխությունից, ապա ԿԲՀՏ-ն Բանկի կողմից կարող է փոփոխվել առավելագույնը ամիսը 1 /մեկ/ անգամ, ինչի մասին Բանկը պարտավոր է Վարկառուին ծանուցել առնվազն 7 /յոթ/ աշխատանքային օր առաջ: ԿԲՀՏ-ի փոփոխությունն ուժի մեջ կմտնի Բանկի ծանուցման մեջ նշված օրվանից:
                </p>
                <p>
                    Վարկի տոկոսադրույքի և Վարկի այլ պայմանների փոփոխության վերաբերյալ ծանուցումը ստանալուց հետո առավելագույնը
                    երկու օրվա ընթացքում, Բանկի պահանջով, Վարկառուն պարտավոր է Բանկի հետ կնքել համաձայնագիր այդ փոփոխությունների
                    վերաբերյալ: Վարկառուի կողմից սույն ենթակետում նշված համաձայնագրի չստորագրումը խոչընդոտ չէ Վարկի պայմանների
                    և/կամ տոկոսադրույքի փոփոխության համար:
                </p>
                <p>
                    Եթե Վարկառուն համաձայն չէ սահմանված՝ Վարկի փոփոխված պայմանների հետ, ապա նա իրավունք ունի վաղաժամկետ լուծել
                    այդ Համաձայնագիր/եր/ը` կատարելով լուծման օրվա դրությամբ Բանկի հանդեպ Պայմանագրով ստանձնած իր
                    պարտավորություններն ամբողջ ծավալով:
                </p>
                <p class="level2">
                    Վարկը, Տոկոսները, Պայմանագրով նախատեսված մյուս վճարները և տուժանքը գանձվում են Վարկառուի` Բանկում գործող
                    դրամային հաշվից/ներից/` ապահովումն ինչը Վարկառուն պարտավորվում է նշված հաշվին/հաշիվներին ապահովել մարման
                    համար անհրաժեշտ դրամական միջոցների առկայությունը: Վերջինիս վրա անհրաժեշտ միջոցների բացակայության դեպքում
                    Բանկն իրավունք ունի գանձվելիք գումարի չափով արտարժույթ ելքագրել Վարկառուի` Բանկում գործող արտարժութային
                    հաշվից/ներից/, որի դեպքում արտարժույթի` ՀՀ դրամի փոխարկումն իրականացվում է այդ պահին Բանկում գործող առքի
                    փոխարժեքով:
                </p>
                <p class="level2">
                    Եթե Վարկն ապահովված է գրավով, ապա կախված Պայմանագրի բնույթից և Պայմանագրով կարգավորվող իրավահարաբերությունից, Վարկառուն վճարելու է ապահովագրության, գնահատման, նոտարական և/կամ այլ օժանդակ ծառայությունների համար:
                </p>
                <p class="level2">
                    Եթե Վարկի կամ տոկոսագումարի վճարման օրը ոչ աշխատանքային օր է, ապա այն պետք է կատարվի հաջորդ՝ Բանկի համար աշխատանքային օրը:
                </p>
            </div>
        </div>
        <div class="section">
            <h2>Վարկի գումարի վերադարձնելիության ապահովվածությունը</h2>
            <div class="section-content">
                <p class="level2">
                    Պայմանագրով Վարկառուի կողմից Բանկի հանդեպ ստանձնած պարտավորությունների  պատշաճ կատարումն ապահովված է Վարկառուի դրամական հոսքերով:
                </p>
            </div>
        </div>
        <div class="section">
            <h2>Բանկին տրվող տեղեկատվություն</h2>
            <div class="section-content">
                <p class="level2">
                    Վարկառուն Բանկի պահանջով պետք է տրամադրի վերջինիս այնպիսի փաստաթղթեր և տեղեկատվություն, որը թույլ կտա Բանկին ստուգել Վարկառուի կողմից Վարկի նպատակային օգտագործման համապատասխանությունը Պայմանագրին:
                </p>
                <p class="level2">
                    Վարկառուն պարտավոր է Բանկին տեղեկացնել իր անձը հաստատող փաստաթղթի տվյալների, հասցեների, հեռախոսահամարների, ընտանիքի կազմի, սոցիալական վիճակի, և ֆինանսական հոսքերի յուրաքանչյուր փոփոխության մասին, համապատասխան փոփոխությունները գրանցելուց/կատարվելուց հետո 5 /հինգ/ աշխատանքային օրվա ընթացքում:
                </p>
                <p class="level2">
                    Վարկառուն պարտավոր է երրորդ անձանց հանդեպ պարտավորություններ ստանձնելուց առաջ այդ մասին նախապես տեղյակ պահել Բանկին: Նշված տեղեկատվության հիման վրա Բանկը գնահատում է Վարկառուի վարկունակության աստիճանը, որից ելնելով, Բանկն իրավունք ունի օգտվել Պայմանագրի 5.1.3 ենթակետով նախատեսված իր իրավունքից:
                </p>
                <p class="level2">
                    Վարկառուն պարտավոր է Բանկին տրամադրել բոլոր անհրաժեշտ տեղեկությունները:
                </p>
                <p class="level2">
                    Բանկն իրավունք ունի Վարկառուից պահանջել և ստանալ նաև Վարկի և դրա մարման հետ կապված լրացուցիչ այլ տեղեկություններ և փաստաթղթեր:
                </p>
            </div>
        </div>

        <div class="section">
            <h2>Կողմերի իրավունքներն ու պարտականությունները</h2>
            <div class="section-content">
                <h3>Բանկն իրավունք ունի՝</h3>
                <div class="section-content">
                    <p class="level3">
                        փաստաթղթային կամ անմիջականորեն վերահսկել Վարկառուի կողմից Վարկի նպատակային օգտագործումը, ինչպես նաև
                        իրականացնել մոնիտորինգ` Վարկառուի վարկունակության աստիճանը պարզելու նպատակով: Ընդ որում` նշված
                        վերահսկողությունը Բանկը կարող է իրականացնել նաև մասնագիտացված անկախ կազմակերպությունների միջոցով /աուդիտոր/:
                    </p>
                    <p class="level3">
                        ամբողջությամբ կամ մասնակիորեն հրաժարվել Վարկը տրամադրելուց և/կամ վաղաժամկետ լուծելով Պայմանագիրը կամ
                        առանց այն վաղաժամկետ լուծելու` Վարկառուից պահանջել վերադարձնել Վարկը, վճարման օրվա դրությամբ հաշվարկված
                        Տոկոսները, տուժանքները, եթե
                    </p>

                    <div class="section-content">
                        <p class="level4">
                            պարզվի, որ Վարկառուի կողմից ներկայացված տվյալները /փաստաթղթերը և այլ տեղեկատվությունը/ անարժանահավատ
                            են
                        </p>
                        <p class="level4">
                            պարզվի, որ Վարկառուն ունի ժամկետանց և/կամ դասակարգված պարտավորություններ /այդ թվում` երրորդ անձանց
                            հանդեպ/
                        </p>
                        <p class="level4">
                            Վարկառուի կողմից խախտվել է Պայմանագրով նախատեսված կետերից որևէ մեկը
                        </p>
                        <p class="level4">
                            Վարկառուն Վարկն օգտագործել է Պայմանագրով նախատեսված նպատակին ոչ համապատասխան
                        </p>
                        <p class="level4">
                            Վարկառուն խոչընդոտել է Բանկի կողմից իրականացվող վերահսկողութանը
                        </p>
                        <p class="level4">
                            առկա են այնպիսի հանգամանքներ, որոնք ակնհայտորեն վկայում են, որ Վարկը և/կամ տոկոսները Պայմանագրով
                            սահմանված մարման ժամկետներում չեն վերադարձվի /այդ թվում` սնանկության նախադրյալներ/
                        </p>
                        <p class="level4">
                            Վարկառուի ակտիվների /գույքի/ վրա օրենքով սահմանված կարգով կալանք կամ արգելանք է դրվել
                        </p>
                        <p class="level4">
                            պետական իրավասու մարմինների կողմից Վարկառուի նկատմամբ հարուցվել է դատական, քրեական, վարչական կամ այլ
                            վարույթ
                        </p>

                        <p class="level4">
                            Վարկառուն չի կատարում Պայմանագրով նախատեսված պարտավորության ապահովման պարտավորությունները
                        </p>
                        <p class="level4">
                            Վարկառուն Պայմանագրով սահմանված մարման ժամկետներում չի վերադարձնում Վարկի գումարը և/կամ չի վճարում
                            տոկոսները, Պայմանագրով նախատեսված այլ վճարները, տուժանքը, և/կամ այդ կետանցները կրում են պարբերական բնույթ
                        </p>
                        <p class="level4">
                            Վարկառուն չի ներկայացնում Պայմանագրով նախատեսված տեղեկատվությունը /փաստաթղթերը, հաշվետվությունները/
                            կամ թույլ է տալիս դրանց ներկայացման ժամկետների կետանց
                        </p>
                        <p class="level4">
                            առկա են ՀՀ օրենսդրությամբ դրա համար նախատեսված այլ հիմքեր:
                        </p>
                </div>


                </div>
                <h3>Բանկը պարտավոր է՝</h3>
                <div class="section-content">
                    <p class="level3">
                        պահպանել Պայմանագրի գաղտնիությունը ՀՀ օրենսդրությամբ նախատեսված կարգով,
                    </p>
                    <p class="level3">
                        երեսնօրյա պարբերականությամբ Վարկառուին ներկայացնել վերջինիս` Պայմանագրից բխող պարտավորությունների և դրանց առաջացման հիմքերի և մարումների վերաբերյալ տեղեկատվություն, այդ թվում` Վարկառուի կողմից իր պարտավորությունները չկատարելու կամ ոչ պատշաճ կատարելու համար կիրառվող կամ կիրառված տուժանքի կամ Վարկառուի վիճակը վատթարացնող ցանկացած այլ միջոցների ցանկը, դրանց կիրառման դեպքերն ու կարգը,
                    </p>
                    <p class="level3">
                        Պայմանագրի պայմանների /ներառյալ Տոկոսների/ միակողմանի փոփոխման դեպքում այդ մասին առնվազն 7 /յոթ/ օր աշխատանքային առաջ ծանուցել Վարկառուին, որը հիմք է հանդիսանում ծանուցման մեջ նշված ժամկետից փոփոխված պայմանները կիրառելու համար: Եթե Վարկառուն համաձայն չէ փոփոխված պայմանների հետ, ապա նա իրավունք ունի վաղաժամկետ լուծել Պայմանագիրը` կատարելով լուծման օրվա դրությամբ Բանկի հանդեպ Պայմանագրով ստանձնած իրպարտավորություններն ամբողջ ծավալով: Այդ պարտավորությունների վաղաժամկետ կատարման համար Բանկը Վարկառուից չի կարող պահանջել լրացուցիչ տուգանքների վճարում:
                    </p>
                    <p>
                        Ընդ որում` սույն, ինչպես նաև Պայմանագրի 5.2.2 ենթակետում նշված տեղեկատվությունը Վարկառուին է տրամադրվում վերջինիս
                        կողմից Բանկին տեղեկացված նախընտրելի եղանակով և հասցեով այն վերջինիս ուղարկելու կամ Բանկի տարածքում վերջինիս
                        համար այն հասանելի դառնալու պահից (առձեռն տարբերակի ընտրության դեպքում), անկախ այն հանգամանքից, թե Վարկառուն
                        փաստացի երբ է ստանում այդ տեղեկատվությունը:
                    </p>
                    <p>
                        Պայմանագրի պայմանների փոփոխությունը կարող է հանգեցնել Տարեկան փաստացի տոկոսադրույքի փոփոխմանը: Տարեկան փաստացի տոկոսադրույքի փոփոխման կարգը, պայմաններն ու ժամկետները համապատասխանում են Պայմանագրով սահմանված Տարեկան տոկոսադրույքի պայմանների փոփոխման կարգին, պայմաններին և ժամկետներին:
                    </p>
                    <p class="level3">
                        Վարկառուի կողմից Վարկի և/կամ Տոկոսների վճարումը կատարելուց հետո Վարկառուի պահանջով վերջինիս տրամադրել
                        պարտավորության լրիվ կամ մասնակի /եթե այն կատարվել է մասնակի/ կատարումը հավաստող քաղվածք:
                    </p>
                </div>

                <h3>Վարկառուն իրավունք ունի՝</h3>
                <div class="section-content">
                    <p class="level3">
                        միակողմանիորեն` առանց որևէ պատճառաբանության, վաղաժամկետ լուծել Պայմանագիրը՝ Պայմանագրում նշված
                        Մտածելու ժամանակի ընթացքում՝ Բանկին վճարելով մինչև լուծման օրը ներառյալ հաշվարկված Վարկի տոկոսագումարները
                    </p>
                    <p class="level3" style="font-weight:bold">
                        ժամկետից շուտ կատարել Պայմանագրով իր ստանձնած վճարման պարտավորությունները, որի դեպքում համամասնորեն
                        նվազեցվում է Հաճախորդի կրեդիտավորման ընդհանուր ծախսը
                    </p>
                </div>

                <h3>Վարկառուն պարտավոր է՝</h3>
                <div class="section-content">
                    <p class="level3">
                        կրել պատասխանատվություն ՀՀ օրենսդրության շրջանակներում իր կողմից Բանկին ներկայացված փաստաթղթերի իսկության և արժանահավատության համար,
                    </p>
                    <p class="level3">
                        Պայմանագրով նախատեսված ժամկետներում և կարգով Բանկին վերադարձնել ստացված Վարկը և վճարել դրա
                        օգտագործման համար սահմանված Տոկոսները, մյուս վճարները
                    </p>
                    <p class="level3">
                        նպաստել Բանկի կողմից Վարկի նպատակային օգտագործման նկատմամբ վերահսկողության անարգել իրականացմանը,
                    </p>
                    <p class="level3">
                        Բանկին, վերջինիս պահանջի դեպքում, վճարել Պայմանագրով նախատեսված տուժանքները, եթե չի կատարել կամ ոչ պատշաճ է կատարել Պայմանագրով ստանձնած պարտավորությունները` ներառյալ կատարման կետանցի դեպքում
                    </p>
                    <p class="level3">
                        կատարել Պայմանագրով նախատեսված այլ պարտավորություններ
                    </p>
                </div>
            </div>
        </div>
        

        <div class="section">
            <h2>Կողմերի պատասխանատվությունը</h2>
            <div class="section-content">
                <p class="level2">
                    Պայմանագրով ստանձնած պարտավորությունների չկատարման կամ ոչ պատշաճ կատարման դեպքում Վարկառուն
                    պարտավորվում է Բանկին փոխհատուցել բոլոր տեսակի լրացուցիչ ծախսերը, որոնք կկատարվեն Բանկի կողմից:
                </p>
                <p class="level2">
                    Պայմանագրով նախատեսված տեղեկատվությունը Բանկին չտրամադրելու կամ դրա ներկայացման կետանց թույլ տալու դեպքում Վարկառուն պարտավորվում է հատուցել դրա հետևանքով բանկի կրած վնասները, իսկ Բանկն էլ պատասխանատվություն չի կրում դրա հետևանքով Վարկառուի կրած վնասների համար:
                </p>
                <p class="level2">
                    Պայմանագրով սահմանված տուժանքների վճարումը Վարկառուին չի ազատում Պայմանագրով ստանձնած իր պարտավորությունները կատարելուց, ինչպես նաև չի կարող որևէ կերպ սահմանափակել Պայմանագիրը միակողմանիորեն լուծելու և/կամ պարտավորությունների վաղաժամկետ կատարում պահանջելու Բանկի իրավունքը:
                </p>
                <p class="level2">
                    Եթե Վարկառուն թույլ է տալիս Պայմանագրով ստանձնած պարտավորությունների կատարման կետանց, ապա նշված
                    պարտավորությունները կարող են կատարվել Վարկառուի` Բանկում առկա բանկային/քարտային ՀՀ դրամային հաշիվների
                    մնացորդների հաշվին, իսկ նշված հաշիվներին բավարար միջոցների բացակայության դեպքում` նաև արտարժութային
                    հաշիվներից /որի դեպքում արժույթների փոխանակումն իրականացվում է փոխանակվող արժույթների` փոխանակման պահի
                    դրությամբ «Կոնվերս Բանկ» ՓԲԸ-ում սահմանված համապատասխան փոխարժեքով/` առանց վերջինիս կողմից Բանկին ուղղված
                    վճարման համապատասխան կարգադրություններ ստանալու, որի ապահովման համար սույնով Վարկառուն իրավունք է
                    վերապահում «Կոնվերս Բանկ» ՓԲԸ-ին Պայմանագրից բխող ցանկացած դրամական պարտավորությունների չկատարման կամ ոչ
                    պատշաճ կատարման դեպքերում իր` «Կոնվերս Բանկ» ՓԲԸ-ում սպասարկվող հաշիվներից անվիճելի կարգով գանձել
                    պահանջվող պարտքի գումարը:
                </p>
                <p>
                    Սույն կետը Վարկառուի կողմից հետագայում չի կարող վկայակոչվել և հիմք հանդիսանալ Բանկի կողմից տուժանքի հաշվարկման
                    և գանձման փաստը վիճարկելու համար:
                </p>
                <p class="level2">
                    Պայմանագրի պայմանների չկատարման կամ ոչ պատշաճ կատարման դեպքերի համար Վարկառուն պատասխանատվություն
                    է կրում՝ անկախ մեղքի առկայությունից:
                </p>
                <p class="level2">
                    Վարկառուն Բանկի առջև պատասխանատվություն է կրում Հայտում, Պայմանագրում, Համակարգում կամ այլ՝ Համակարգի
                    միջոցով Բանկին ներկայացվող փաստաթղթերի օրինակելի ձևերում առանց Բանկի նախնական համաձայնության իր կողմից
                    կատարված ցանկացած փոփոխության/ձևափոխման համար:
                </p>
                <p class="level2">
                    Տուժանքի տարեկան առավելագույն չափը չի կարող գերազանցել Հայաստանի Հանրապետության կենտրոնական բանկի
                    սահմանած բանկային տոկոսի հաշվարկային դրույքի քառապատիկը, իսկ տուժանքների հանրագումարի չափը չի կարող
                    գերազանցել տվյալ պահին առկա պարտքի հիմնական գումարը, եթե այլ բան նախատեսված չէ օրենքով:
                </p>
            </div>
        </div>

        <div class="section">
            <h2>Անհաղթահարելի ուժի ազդեցությունը</h2>
            <div class="section-content">
                <p>
                    Պայմանագրով ստանձնած պարտավորությունները չկատարելու կամ ոչ պատշաճ կատարելու համար Կողմերն ազատվում են
                    պատասխանատվությունից, եթե դա տեղի է ունեցել անհաղթահարելի ուժի ազդեցության հետևանքով, որը ծագել է Պայմանագիրը
                    կնքելուց հետո, և որը Կողմերը չէին կարող կանխատեսել և/կամ կանխարգելել:
                </p>
            </div>
        </div>

        <div class="section">
            <h2>Այլ դրույթներ</h2>
            <div class="section-content">
                <p class="level2">
                    Պայմանագրից բխող ծանուցումները պետք է լինեն գրավոր ձևով, որոնք պետք է ուղարկվեն Բանկին տեղեկացված
                    նախընտրելի եղանակով և/կամ հասցեներով, իսկ վերջիններիս փոփոխման դեպքում` փոփոխված եղանակով և/կամ հասցեներով,
                    ի ապահովումն ինչի Կողմերը պարտավորվում են եղանակի և/կամ հասցեների փոփոխության մասին 5 /հինգ/ օրվա ընթացքում
                    գրավոր ծանուցել մյուս Կողմին:
                </p>
                <p>
                    Սույն կետում նշված ծանուցումները համարվում են ստացող Կողմի կողմից պատշաճ ստացված, եթե դրանք ուղարկվել են նրա`
                    ծանուցումը ուղարկող Կողմին հայտնի վերջին հասցեով և եղանակով:
                </p>
                <p class="level2">
                    Պայմանագրի կետերից որևէ մեկի գործողության դադարեցումը չի հանգեցնում մյուս կետերի գործողության դադարեցմանը:
                </p>
                <p class="level2">
                    Պայմանագրից ծագած պարտավորություններով հաշվանցի կատարումը կարող է իրականացվել միայն Բանկի կողմից կամ վերջինիս համաձայնությամբ:
                </p>
                <p class="level2">
                    Պայմանագրից բխող Վարկառուի կողմից կատարված ցանկացած վճարում ուղղվում է Վարկառուի` Պայմանագրից բխող պարտքի մարմանը, որոնց հերթականությունը որոշում է Բանկը:
                </p>
                <p class="level2">
                    ՍՈՒՅՆՈՎ ՎԱՐԿԱՌՈՒՆ ՏԱԼԻՍ Է ԻՐ ՀԱՄԱՁԱՅՆՈՒԹՅՈՒՆԸ, ՈՐՊԵՍԶԻ ՊԱՅՄԱՆԱԳՐԻՑ ԾԱԳՈՂ ԵՎ/ԿԱՄ ԾԱԳԵԼԻՔ
                    ԻՐ ՊԱՐՏԱՎՈՐՈՒԹՅՈՒՆՆԵՐԻ ՎԵՐԱԲԵՐՅԱԼ ՑԱՆԿԱՑԱԾ ՏԵՂԵԿԱՏՎՈՒԹՅՈՒՆ ԲԱՆԿՆ, ԱՌԱՆՑ ՎԱՐԿԱՌՈՒԻ ԼՐԱՑՈՒՑԻՉ
                    ՀԱՄԱՁԱՅՆՈՒԹՅԱՆ, ՏՐԱՄԱԴՐԻ «ԱՔՌԱ ՔՐԵԴԻՏ ՌԵՓՈՐԹԻՆԳ» ՓԲԸ-ԻՆ, ԻՆՉՊԵՍ ՆԱԵՎ ՊԱՅՄԱՆԱԳՐԻ ԳՈՐԾՈՂՈՒԹՅԱՆ
                    ԸՆԹԱՑՔՈՒՄ, ՑԱՆԿԱՑԱԾ ՊԱՀԻ, ԱՌԱՆՑ ՎԱՐԿԱՌՈՒԻՆ ՆԱԽԱՊԵՍ ՏԵՂՅԱԿ ՊԱՀԵԼՈՒ, «ԱՔՌԱ ՔՐԵԴԻՏ ՌԵՓՈՐԹԻՆԳ»
                    ՓԲԸ-ԻՑ ՀԱՐՑՈՒՄ ԿԱՏԱՐԻ ԵՎ ՍՏԱՆԱ ՎԱՐԿԱՌՈՒԻ ՎԱՐԿԱՅԻՆ ԶԵԿՈՒՅՑԸ:
                </p>
                <p>
                    ՍՈՒՅՆՈՎ ՎԱՐԿԱՌՈՒՆ ՏԱԼԻՍ Է ԻՐ ՀԱՄԱՁԱՅՆՈՒԹՅՈՒՆԸ, ՈՐՊԵՍԶԻ ԲԱՆԿԸ, ՊԱՅՄԱՆԱԳՐԻ ԳՈՐԾՈՂՈՒԹՅԱՆ
                    ԸՆԹԱՑՔՈՒՄ, ՑԱՆԿԱՑԱԾ ՊԱՀԻ, ԱՌԱՆՑ ՎԱՐԿԱՌՈՒԻՆ ՆԱԽԱՊԵՍ ՏԵՂՅԱԿ ՊԱՀԵԼՈՒ ՀԱՐՑՈՒՄ ԿԱՏԱՐԻ ««ՆՈՐՔ»
                    ՍՈՑԻԱԼԱԿԱՆ ԾԱՌԱՅՈՒԹՅՈՒՆՆԵՐԻ ՏԵԽՆՈԼՈԳԻԱԿԱՆ ԵՎ ԻՐԱԶԵԿՄԱՆ ԿԵՆՏՐՈՆ» ՀԻՄՆԱԴՐԱՄԻՆ ԵՎ ՍՏԱՆԱ
                    ՀԱՄԱՊԱՏԱԱՍԽԱՆ ՏԵՂԵԿԱՏՎՈՒԹՅՈՒՆԸ:
                </p>
                <p>
                    ՍՈՒՅՆՈՎ ՎԱՐԿԱՌՈՒՆ ՀԱՎԱՍՏՈՒՄ Է, ՈՐ ՏԵՂՅԱԿ Է ԱՅՆ ՄԱՍԻՆ, ՈՐ ԻՐ, ԻՆՉՊԵՍ ՆԱԵՎ ՊԱՅՄԱՆԱԳՐԻՑ ԲԽՈՂ ԻՐ
                    ՊԱՐՏԱՎՈՐՈՒԹՅՈՒՆՆԵՐԻ ՄԱՍԻՆ ՏԵՂԵԿԱՏՎՈՒԹՅՈՒՆԸ ՏՐԱՄԱԴՐՎՈՒՄ Է ՀՀ ԿԵՆՏՐՈՆԱԿԱՆ ԲԱՆԿԻ ՎԱՐԿԱՅԻՆ
                    ՌԵԳԻՍՏՐԻՆ:
                </p>
                <p>
                    ՊԱՐՏԱՎՈՐՈՒԹՅԱՆ ՉԿԱՏԱՐՄԱՆ ԿԱՄ ՈՉ ՊԱՏՇԱՃ ԿԱՏԱՐՄԱՆ ԴԵՊՔՈՒՄ ԲԱՆԿԸ ԱՌԱՎԵԼԱԳՈՒՅՆԸ 3 (ԵՐԵՔ)
                    ԱՇԽԱՏԱՆՔԱՅԻՆ ՕՐ ՀԵՏՈ ՎԱՐԿԱՌՈՒԻ ՏՎՅԱԼՆԵՐԸ (ՊԱՐՏԱՎՈՐՈՒԹՅԱՆ ՉԿԱՏԱՐՄԱՆ ԿԱՄ ՈՉ ՊԱՏՇԱՃ ԿԱՏԱՐՄԱՆ
                    ՄԱՍԻՆ) ՈՒՂԱՐԿՈՒՄ Է ՎԱՐԿԱՅԻՆ ՌԵԳԻՍՏՐ ԵՎ/ԿԱՄ ՎԱՐԿԱՅԻՆ ԲՅՈՒՐՈ (ԱՔՌԱ)
                </p>
                <p>
                    ՍՈՒՅՆՈՎ ՎԱՐԿԱՌՈՒՆ ՀԱՎԱՍՏՈՒՄ Է ՆԱԵՎ, ՈՐ ՏԵՂՅԱԿ Է ԱՅՆ ՄԱՍԻՆ, ՈՐ ՎԱՏ ՎԱՐԿԱՅԻՆ ՊԱՏՄՈՒԹՅՈՒՆ
                    ՈՒՆԵՆԱԼԸ ՀԵՏԱԳԱՅՈՒՄ ԿԱՐՈՂ Է ԽՈՉԸՆԴՈՏ ՀԱՆԴԻՍԱՆԱԼ ՖԻՆԱՆՍԱԿԱՆ ԳՈՐԾԻՔՆԵՐԻՑ ՕԳՏՎԵԼԻՍ:
                </p>
                <p class="level2">
                    Վարկառուն սույնով լիազորում է Բանկին Վարկառուին սպասարկող ցանկացած բանկից, ինչպես նաև այլ անձանցից,
                    Պայմանագրի գործողության ընթացքում, Վարկառուի անունից, որպես լիազոր ներկայացուցիչ, պահանջել և ստանալ ցանկացած
                    տեղեկատվություն, այդ թվում` հարցումներ կատարել ու ստանալ դրանց պատասխանները՝ թեկուզև դրանք հանդիսանան
                    բանկային կամ առևտրային գաղտնիք:
                </p>
                <p class="level2">
                    Վարկառուն սույնով հավաստում է, որ Պայմանագիրը կնքելիս էլեկտրոնային եղականով ստացել և ծանոթացել է
                    տեղեկատվական ամփոփագրին, Կանոններին, Վարկի էական պայմանների անհատական թերթիկին, ընդունում է Բանկի կողմից
                    վարկի տրամադրման պայմանները և պարտավորվում կատարել դրանցով նախատեսված պահանջները:
                </p>
                <p>
                    Վարկառուն նաև հավաստիացնում է, որ իր կողմից Բանկին տրամադրված տեղեկությունները արժանահավատ և ճիշտ են և
                    պարտավորվում է դրանց ցանկացած փոփոխության դեպքում անհապաղ ծանուցել Բանկին:
                </p>
                <p class="level2">
                    Վարկառուն սույնով տալիս է իր համաձայնությունն առ այն, որպեսզի Բանկի` Պայմանագրից բխող իր իրավունքներն առանց Վարկառուի համաձայնության ՀՀ քաղաքացիական օրենսդրությամբ սահմանված կարգով զիջվեն կամ գրավ դրվեն ՀՀ Կենտրոնական բանկին, վերջինիս կողմից լիազորված կազմակերպություններին, ինչպես նաև այլ երրորդ անձանց:
                </p>
                <p class="level2">
                    Կողմերը գալիս են համաձայնության առ այն, որ Պայմանագրից ծագած վեճերն ու տարաձայնությունները լուծվում են
                    արբիտրաժային կարգով՝ գործը հանձնելով Հայաստանի բանկերի միության «Ֆինանսական արբիտրաժ» հիմնարկին՝ «Առևտրային
                    արբիտրաժի մասին» ՀՀ օրենքի, Հայաստանի բանկերի միության «Ֆինանսական արբիտրաժի» կանոնադրությանը և «Ֆինանսական
                    արբիտչաժի կանոնակարգին» համապատասխան: Կողմերը սահմանում են, որ Արբիտրների կազմը ձևավորվում է «Ֆինանսական
                    արբիտրաժի կանոնակարգի» համաձայն: Արբիտրաժային դատավարության լեզուն հայերենն է, արբիտրաժի վայրը՝ ք.Երևանը:
                    Կողմերը հավաձայնվում են, որ վեճի քննությունը կիրականացվի միայն գրավոր նյութերի հիման վրա՝ առանց բանավոր քննության
                    անցկացման: Կողմերը տեղեկացվում են, որ Հայաստանի բանկերի միության «Ֆինանսական արբիտրաժի» կանոնադրությանը և
                    «Ֆինանսական արբիտրաժի կանոնակարգին» կարող են ծանոթանալ Հայաստանի բանկերի միության կայքից՝ www.uba.am կայքից,
                    ինչպես նաև Բանկից: Վեճերը լուծվում են ՀՀ նյութական իրավունքի նորմերի համաձայն: Սույն վեճերի կարգավորման դրույթը
                    Կողմերին չի զրկում դատական կարգով վեճերի լուծման իրենց իրավունքից:

                </p>
                <p>
                    Տաuը միլիոն ՀՀ դրամը կամ դրան համարժեք արտարժույթով գումարը չգերազանցող գույքային պահանջի դեպքում ծագած վեճերն ու տարաձայնությունները կարող են լուծվել ֆինանսական համակարգի հաշտարարի միջոցով:
                </p>
                <p>
                    Բանկի և Ֆինանսական համակարգի հաշտարարի գրասենյակի միջև կնքված համաձայնագրի համաձայն, Բանկը հրաժարվում է Ֆինանսական համակարգի հաշտարարի որոշումները վիճարկելու իրավունքից միայն այն գույքային պահանջների մասով, որոնց չափը չի գերազանցում 250,000 /երկու հարյուր հիսուն հազար/ ՀՀ դրամը կամ դրան համարժեք արտարժույթը, իսկ գործարքի գումարի չափը չի գերազանցում 500,000 /հինգ հարյուր հազար/ ՀՀ դրամը կամ դրան համարժեք արտարժույթը:
                </p>
                <p class="level2">
                    Պայմանագրով ստանձնած պարտավորությունների կատարումը պարտադիր է Կողմերի իրավահաջորդների համար:
                </p>
                <p class="level2">
                    Պայմանագրում փոփոխություններ և/կամ լրացումներ կարող են կատարվել Կողմերի ստորագրությամբ գրավոր համապատասխան փաստաթուղթ կազմելու միջոցով, բացառությամբ Պայմանագրով սահմանված դեպքերի, երբ Բանկը Պայմանագրի պայմանները փոփոխում է միակողմանիորեն:
                </p>
                <p class="level2">
                    Պայմանագիրը կնքված է հայերեն լեզվով, _2_/երկու/ հավասարազոր օրինակներից: Պայմանագիրը պահպանվում է Համակարգում՝ Վարկառուի էջում: Վարկառուն հնարավորություն ունի
                    ցանկացած ժամանակ Համակարգից արտատպելու Պայմանագրի իր օրինակը:
                </p>
                <p class="level2">
                    Սույնով Կողմերը համաձայնվում են, որ Պայմանագիրը Բանկի անունից ստորագրվի և կնքվի Բանկի իրավասու
                    պաշտոնատար անձի ստորագրության և Բանկի կնիքի ֆաքսիմիլային վերարտադրության միջոցով, որը կհամարվի Բանկի կողմից
                    Պայմանագրի պատշաճ ստորագրում:
                </p>
                <p class="level2">
                    Պայմանագրի նկատմամբ կիրառվում է ՀՀ օրենսդրությունը:
                </p>
                <p class="level2">
                    Պայմանագիրը Կողմերի կողմից համարվում է ստորագրված Վարկառուի կողմից Համակարգում էլեկտրոնային եղանակով
                    այն հաստատելու/ստորագրելու պահից: Պայմանագիրն ուժի մեջ է մտնում Կողմերի կողմից այն ստորագրելու օրվանից և գործում
                    է մինչև Պայմանագրով Կողմերի ստանձնած պարտավորությունների ամբողջական և պատշաճ կատարումը:
                </p>
            </div>
        </div>



        <div>
            <div class="section-content">
                <div class="appendix">
                    <h3>Հավելված 1</h3>
                    <p>«Կոնվերս Բանկ» ՓԲԸ և {LAST_NAME_AM} {FIRST_NAME_AM} {PATRONYMIC_NAME_AM}ի միջև {DATE} կնքված թիվ ______ «Սպառողական վարկավորման պայմանագրի»</p>
                    <p>Առցանց վարկերի տրամադրման շրջանակներում</p>
                </div>
            </div>

            <div>
                <h2>Մարման ժամանակացույց</h2>
            </div>
            <div >
                <p style="text-align:center">Վարկառու` {LAST_NAME_AM} {FIRST_NAME_AM} {PATRONYMIC_NAME_AM}</p>
                <p style="text-align:center">Ժամկետ` {DATE}-ից մինչև {APPROVED_REPAYMENT_PERIOD}</p>
            </div>
            <div class="table section-content" REPEATER data='{LOAN_SCHEDULE}'>
                <div class="table-row" style="display: table-row;">
                    <div class="table-cell-10 header-cell" style="font-weight:bold">
                        Հ/մ
                    </div>
                    <div class="table-cell-18 header-cell">
                        Մարման ամսաթիվ
                    </div>
                    <div class="table-cell-18 header-cell">
                        Մարում (=4+5)
                    </div>
                    <div class="table-cell-18 header-cell">
                        Վարկի մայր գումար
                    </div>
                    <div class="table-cell-18 header-cell">
                        Տոկոս
                    </div>
                    <div class="table-cell-18 header-cell" style="border-right-width: 1px;">
                        Մնացորդ
                    </div>
                </div>
                <div class="table-row" style="display: table-row;">
                    <div class="table-cell-10 subheader-cell">
                        1
                    </div>
                    <div class="table-cell-18 subheader-cell">
                        2
                    </div>
                    <div class="table-cell-18 subheader-cell">
                        3
                    </div>
                    <div class="table-cell-18 subheader-cell">
                        4
                    </div>
                    <div class="table-cell-18 subheader-cell">
                        5
                    </div>
                    <div class="table-cell-18 subheader-cell" style="border-right-width: 1px;">
                        6
                    </div>
                </div>
                <div class="table-row" style="display: table-row;text-align:center;" REPEATER_ITEM>
                    <div class="table-cell-10">
                        REPEATER_No
                    </div>
                    <div class="table-cell-18">
                        REPEATER_Date
                    </div>
                    <div class="table-cell-18">
                        REPEATER_TotalAmount
                    </div>
                    <div class="table-cell-18">
                        REPEATER_MainAmount
                    </div>
                    <div class="table-cell-18">
                        REPEATER_InterestAmount
                    </div>
                    <div class="table-cell-18" style="border-right-width: 1px;">
                        REPEATER_LeftLoanAmount
                    </div>
                </div>
            </div>

            <div class="section-content">
                <p>Վերոնշյալ ժամանակացույցը կարող է փոփոխվել/ճշգրտվել.</p>
                <p>1. Վարկի գումարի և/կամ տոկոսների վաղաժամկետ մարումներից</p>
                <p>2. Ժամանակացույցով սահմանված մարումները կարող են փոփոխվել` կախված Վարկի գումարի փաստացի ստացման օրվանից, ինչպես նաև նախընտրելի մարման օրվա ընտրությունից</p>
                <p>3. Պայմանագրով նախատեսված այլ դեպքերում</p>
            </div>
        </div>



        <script>
            (function () {
                let repeators = document.querySelectorAll('[REPEATER]');
                if (repeators.length) {
                    for (let i = 0; i < repeators.length; i++) {
                        let repeatorData = repeators[i].getAttribute('data');
                        if (repeatorData) {
                            repeatorData = JSON.parse(repeatorData);
                            repeators[i].removeAttribute('data');

                            let tagToRepeat = repeators[i].querySelector('[REPEATER_ITEM]');
                            for (let row = 0; row < repeatorData.length; row++) {
                                let node = tagToRepeat.cloneNode(true);
                                let nodeDivs = node.getElementsByTagName("div");
                                if (nodeDivs) {
                                    for (let divNo = 0; divNo < nodeDivs.length; divNo++) {
                                        if (nodeDivs[divNo].innerText && nodeDivs[divNo].innerText.trim().indexOf('REPEATER_') !== -1) {
                                            nodeDivs[divNo].innerText = repeatorData[row][nodeDivs[divNo].innerText.trim().replace('REPEATER_', '')];
                                        }
                                    }
                                }

                                repeators[i].appendChild(node);
                            }
                            repeators[i].removeChild(tagToRepeat);
                        }
                    }
                }
            })();
        </script>
    </body>
</html>